header{
    div{
        img{
            width: 6%;
            border-style:none;
        }
    }
    .navbar{
        font-family: "Oswald", sans-serif;
        li{
            a{
                color: black;
            }
            a:hover{
                color: #3704f1;
            }
        }
    }
    
}





