main{
    border-color: #3704f1;
    background: rgb(0,152,250);
background: radial-gradient(circle, rgba(0,152,250,1) 30%, rgba(0,0,0,1) 98%);
    .slider{
        div{
            img{
                filter: none;
            }
            img:hover{
                filter:drop-shadow(16px 16px 10px black);
            }
        }
    }
}

section{
    h1{
        font-family: "Oswald", sans-serif;
        text-align: center;
        background: $amarillos
    }
    .card{
        background: $amarillos
    }
}

